// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.inputs .week-days-pricing {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    li {
      flex: 1 0 calc(25% - 10px);
      min-width: 150px;
  
      input {
        width: 100%;
      }
    }
  }


  .chosen-container {
    .chosen-single {
      height: 30px !important;
      line-height: 28px !important;
      background: #fff !important;
      border: 1px solid #c9d0d6 !important;
      border-radius: 3px !important;
      font-size: 0.95em;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #5E6469 !important;
      box-shadow: none !important;
      
      div b {
        background-position: 0 4px !important;
      }
    }
    
    .chosen-drop {
      border-color: #c9d0d6 !important;
      box-shadow: none !important;
    }
    
    .chosen-results {
      li {
        padding: 8px 6px !important;
        
        &.highlighted {
          background: #5E6469 !important;
        }
      }
    }
    
    &.chosen-container-active {
      .chosen-single {
        border-color: #99a2aa !important;
      }
    }
  }
